@import "./base";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

@mixin flex-center{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

	$soft-red: hsl(10, 79%, 65%);
	$cyan: rgb(118, 181, 188);

	$Dark-brown: hsl(25, 47%, 15%);
	$Medium-brown: hsl(28, 10%, 53%);
	$cream: hsl(27, 66%, 92%);
	$Very-pale-orange: hsl(33, 100%, 98%);
    


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;

    background-color: $cream;
    font-family: 'DM Sans', sans-serif;
}

main{
    @include flex-center();

    width: 27rem;
    height: 37rem;

    row-gap: 20px;
}

.balance-container{
    background-color: $soft-red;
    border-radius: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    width: 100%;
    height: 8rem;
    padding: 0px 30px 0px 30px;


    .balance-text{
        color: $Very-pale-orange;
        display: flex;
        flex-direction: column;
        row-gap: 13px;

        p{
            font-size: 0.85rem;
        }

        h1{
            font-size: 1.5rem;
            font-weight: 550;
        }
    }

    img{
        width: 3.5rem;
        height: 3.5rem;
    }
}

.info-container{
    background-color: $Very-pale-orange;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 3.5rem;

    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2rem;
}

.info-label-container{
    color: $Dark-brown;

    align-self: flex-start;

    font-size: 1.6rem;
    font-weight: 700;
    
}

.info-graph-container{
    border-bottom: 2px solid $cream;

    width: 100%;
    height: 10rem;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    

    padding-top: 0px;
    padding-bottom: 2rem;
}

.bar-container{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    width: 2.5rem;


    .bar{
        transition-property: height;
        transition-duration: 1s;

        background-color: $soft-red;
        width: 100%;
        height: 5px;
        border-radius: 5px;
    }

    .bar-display-value{
        background-color: $Dark-brown;
        color: $Very-pale-orange;
        text-align: center;
        line-height: 2rem;
        font-size: 12px;
        font-weight: 600;

        width: 3.5rem;
        height: 2rem;
        border-radius: 3px;
        display: none;
        
    }
    
    p{
        color: $Medium-brown;
        font-size: 12px;
    }
}

.total-container{

    display: flex;
    justify-content: space-between;

    width: 100%;
    
    .label{
        color: $Medium-brown
    }

    .price{
        color: $Dark-brown;
        font-weight: 700;
        font-size: 2.5rem;
    }

    .percentage{
        color: $Dark-brown;
        font-weight: 700;
    }

    .total-this-month-container{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    .total-last-month-container{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        
        text-align: end;
        align-self: flex-end;
    }

}

@import "./mobile";